@font-face {
  font-family: "Roboto-Bold";
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: "Roboto-Light";
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('../fonts/Roboto-Regular.ttf');
}
.center {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.f-bottom {
  float: bottom;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.visible {
  display: block;
}
.hide {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto-Regular";
  color: #243545;
  font-size: 14px;
  text-align: center;
  position: relative;
}
input {
  margin: 0 auto;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #999999;
  transition: 0.3s;
  width: 300px;
  height: 30px;
  font-size: 18px;
  font-family: "Roboto-Regular";
  color: #243545;
  display: block;
}
input.card-number {
  position: absolute;
  bottom: 5px;
  border-color: #243545;
}
input:focus {
  border-bottom: 1px solid #243545;
  box-shadow: 0 1px 0px #243545;
}
input.date {
  width: 120px;
  margin-right: 20px;
  position: absolute;
  bottom: 5px;
}
input.cvc {
  width: 120px;
  position: absolute;
  bottom: 5px;
}
input.amount {
  width: 256px;
  position: absolute;
  font-size: 24px;
  bottom: 6px;
  padding-bottom: 11px;
}
input.amount::-webkit-outer-spin-button,
input.amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.sms-code {
  text-align: center;
  height: 48px;
  width: 343px;
  font-size: 40px;
  bottom: 5px;
  color: #243545;
}
input.sms-code::-webkit-input-placeholder {
  opacity: 0.5;
}
input.sms-code::-webkit-outer-spin-button,
input.sms-code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 1023px) {
  input {
    width: 342px;
  }
}
.container {
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #969292;
  box-shadow: 0 0 3px #969292;
  padding-bottom: 20px;
  width: 1024px;
  margin-bottom: 50px;
  overflow: hidden;
}
.container.success {
  padding-bottom: 0px;
}
.container h1 {
  font-size: 30px;
  font-family: "Roboto-Bold";
  margin-bottom: 16px;
}
.container h1.title {
  margin-bottom: 44px;
}
.container .bank-logo {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 32px;
  width: 218px;
  height: 64px;
  display: block;
}
.container .title {
  color: #243545;
}
.container .title.error-message {
  color: #ef3124;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 32px;
  display: none;
}
.container .card-container {
  height: 236px;
  margin-bottom: 48px;
}
.container .card-container #arrow_img {
  width: 20px;
  height: 40px;
  margin-top: 98px;
  opacity: 0.5;
}
.container h2 {
  font-size: 18px;
  margin-bottom: 0px;
}
.container .amount-input {
  margin: 0 auto;
  width: 256px;
  height: 68px;
  font-size: 24px;
  margin-bottom: 27px;
  position: relative;
}
.container .amount-input .currency {
  float: right;
  border-radius: 50%;
  border: 1px solid;
  font-size: 20px;
  margin-top: 14px;
  margin-right: 7px;
  width: 39px;
  height: 39px;
  background: url("../images/icon_currency_rub.png") no-repeat;
  background-size: 12px 15px;
  background-position: center;
  background-color: #243545;
  color: #ffffff;
}
.container .comission {
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;
}
.container .button {
  margin: 0 auto;
  width: 256px;
  height: 64px;
  opacity: 0.5;
  font-size: 18px;
  margin-bottom: 12px;
  border-radius: 4px;
  border-style: unset;
  display: block;
}
.container .button.active {
  background-color: #ef3124;
  color: #ffffff;
}
.container .agreement {
  line-height: 1.57;
  color: #243545;
  margin-bottom: 64px;
}
.container .additional-info {
  margin: 0 auto;
  width: 640px;
  font-size: 13px;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 8px;
}
.container .payment-systems {
  width: 630px;
  height: 56px;
}
.container .license {
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.38;
}
.container .logo {
  position: relative;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 57px;
}
.container .logo .alfabank-logo {
  float: left;
  width: 136px;
  height: 40px;
  margin-left: 256px;
  background-image: url("../images/bank-logo.png");
  background-size: cover;
}
.container .logo .mastercard-logo {
  float: right;
  width: 99px;
  height: 36px;
  margin-right: 250px;
  background-image: url("../images/mc_seccode.png");
  background-size: cover;
}
.container .check-correctness {
  font-size: 16px;
  margin-bottom: 18px;
}
.container .info-confirmation {
  margin: 0 auto;
  width: 512px;
  height: 160px;
  background-color: rgba(230, 232, 234, 0.2);
  margin-bottom: 23px;
  text-align: left;
}
.container .info-confirmation .info-confirmation-table {
  margin: 0 auto;
  margin-left: 103px;
  font-size: 16px;
  width: 322px;
  height: 130px;
  opacity: 1;
  margin-top: 14px;
  position: absolute;
}
.container .info-confirmation .info-confirmation-table th {
  font-weight: normal;
  opacity: 0.5;
  color: #243545;
}
.container .password-message-info {
  margin: 0 auto;
  width: 512px;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  margin-bottom: 72px;
}
.container .password-message-info .bold {
  font-family: "Roboto-Bold";
}
.container .sms-code-input {
  margin: 0 auto;
  width: 343px;
  height: 48px;
  margin-bottom: 26px;
  font-family: "Roboto-Light";
}
.container .confirm-button {
  margin-bottom: 16px;
}
.container .request-code-again {
  font-size: 12px;
  color: #243545;
  margin-bottom: 64px;
  display: block;
}
.container .change-phone-number {
  margin: 0 auto;
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.38;
  width: 550px;
  margin-bottom: 64px;
}
.container .navigation-block {
  margin: 0 auto;
  width: 512px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 65px;
}
.container .navigation-block .help-block {
  float: left;
  width: 92px;
  height: 25px;
}
.container .navigation-block .help-block .circle {
  float: left;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 4px;
  margin-top: 3px;
  border: 1px solid;
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 0px;
}
.container .navigation-block .help-block .help {
  float: right;
  color: #243545;
  font-size: 16px;
  margin-top: 3px;
}
.container .navigation-block .cancel-block {
  float: right;
  width: 177px;
  height: 25px;
}
.container .navigation-block .cancel-block .cross {
  float: left;
}
.container .navigation-block .cancel-block .cancel {
  float: right;
  color: #243545;
  font-size: 16px;
  line-height: 1.38;
}
.container .alfabank-logo-success {
  width: 136px;
  height: 40px;
  background-image: url("../images/bank-logo.png");
  background-size: cover;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.container .background-layer {
  float: left;
  width: 410px;
  height: 492px;
  margin-left: 16px;
  margin-bottom: 240px;
  background: rgba(230, 232, 234, 0.2);
  display: inline-block;
}
.container .background-layer .check-successful {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #55af29;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 12px;
  display: inline-block;
}
.container .background-layer .successful-transfer {
  float: left;
  margin-top: 28px;
  font-size: 18px;
  font-family: "Roboto-Bold";
  margin-bottom: 26px;
  display: inline-block;
}
.container .background-layer .transfer-table {
  text-align: left;
  margin-left: 30px;
  line-height: 2;
  width: 360px;
  margin-bottom: 22px;
}
.container .background-layer .transfer-table th {
  font-weight: normal;
  opacity: 0.5;
  color: #243545;
  margin-left: 12px;
}
.container .background-layer .print-check {
  float: left;
  width: 200px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  color: #243545;
  font-family: "Roboto-Regular";
  background: rgba(230, 232, 234, 0.2);
  border: solid 1px #243545;
  margin-left: 32px;
  margin-bottom: 16px;
}
.container .background-layer .download {
  float: left;
  width: 200px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  color: #243545;
  font-family: "Roboto-Regular";
  background: rgba(230, 232, 234, 0.2);
  border: solid 1px #243545;
  margin-left: 32px;
}
.container .background-layer .download .pdf-logo {
  float: left;
  width: 19px;
  height: 22px;
  background-image: url(../images/PDF-logo.png);
  background-size: 100% 100%;
  margin-left: 9px;
  display: inline-block;
}
.container .instantly {
  float: right;
  font-size: 30px;
  font-family: "Roboto-Bold";
  text-align: left;
  margin-right: 88px;
  margin-bottom: 14px;
  display: inline-block;
}
.container .app-buttons-container .app-store {
  width: 156px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  color: #243545;
  font-family: "Roboto-Regular";
  background: #ffffff;
  border: solid 1px #243545;
  margin-right: 7px;
  padding-bottom: 5px;
}
.container .app-buttons-container .app-store .apple-logo {
  width: 20px;
  height: 24px;
  background-image: url(../images/Apple-logo.png);
  background-size: 100% 100%;
  margin-right: 23px;
  display: inline-block;
}
.container .app-buttons-container .goodle-play {
  width: 164px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  color: #243545;
  font-family: "Roboto-Regular";
  background: #ffffff;
  border: solid 1px #243545;
  margin-right: 7px;
  padding-bottom: 5px;
}
.container .app-buttons-container .goodle-play .google-logo {
  width: 21.4px;
  height: 24px;
  background-image: url(../images/Google-play-logo.png);
  background-size: 100% 100%;
  margin-right: 14px;
  display: inline-block;
}
.container .app-buttons-container .windows-store {
  width: 196px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  color: #243545;
  font-family: "Roboto-Regular";
  background: #ffffff;
  border: solid 1px #243545;
  padding-bottom: 5px;
}
.container .app-buttons-container .windows-store .windows-logo {
  width: 24px;
  height: 24px;
  background-image: url(../images/Windows-logo.png);
  background-size: 100% 100%;
  margin-right: 20px;
  display: inline-block;
}
.container .hand-image {
  float: right;
  width: 408px;
  height: 622px;
  background-image: url(../images/hand.png);
  background-size: 100% 100%;
  margin-right: 132px;
  margin-top: 40px;
}
.container .service {
  float: left;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  margin-left: 16px;
}
@media only screen and (max-width: 1023px) {
  .container {
    width: 375px;
  }
  .container .bank-logo {
    margin-top: 32px;
    margin-bottom: 23px;
    width: 150px;
    height: 44px;
  }
  .container h1 {
    font-size: 22px;
  }
  .container h1.title {
    margin-bottom: 29px;
  }
  .container .card-container {
    height: 556px;
    margin-bottom: 32px;
  }
  .container .card-container #arrow_img {
    transform: rotate(90deg);
    margin-top: 260px;
    position: absolute;
  }
  .container .agreement {
    margin-bottom: 110px;
  }
  .container .additional-info {
    margin: 0 auto;
    width: 354px;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    opacity: 0.5;
    margin-bottom: 8px;
  }
  .container .payment-systems {
    width: 376px;
    height: 38px;
  }
  .container .license {
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.38;
  }
  .container .logo {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .container .logo .alfabank-logo {
    margin-left: 16px;
  }
  .container .logo .mastercard-logo {
    margin-right: 10px;
  }
  .container .info-confirmation {
    margin: 0 auto;
    width: 376px;
    margin-bottom: 17px;
  }
  .container .info-confirmation .info-confirmation-table {
    margin-left: 34px;
    margin-top: 17px;
  }
  .container .password-message-info {
    width: 280px;
  }
  .container .change-phone-number {
    width: 320px;
  }
  .container .navigation-block {
    width: 376px;
  }
  .container .navigation-block .help-block {
    margin-left: 16px;
  }
  .container .navigation-block .cancel-block {
    margin-right: 18px;
  }
  .container .alfabank-logo-success {
    margin-left: 16px;
  }
  .container .background-layer {
    margin-left: 0px;
    width: 376px;
    height: 484px;
    margin-bottom: 40px;
  }
  .container .background-layer .check-successful {
    margin-left: 12px;
  }
  .container .background-layer .transfer-table {
    margin-left: 9px;
  }
  .container .background-layer .print-check {
    margin-left: 12px;
  }
  .container .background-layer .download {
    margin-left: 12px;
  }
  .container .instantly {
    float: none;
    font-size: 22px;
    text-align: center;
    width: 351px;
    margin-bottom: 20px;
    margin-left: 13px;
  }
  .container .app-buttons-container {
    margin-bottom: 64px;
  }
  .container .app-buttons-container .app-store {
    margin-right: 0px;
  }
  .container .app-buttons-container .goodle-play {
    display: none;
  }
  .container .app-buttons-container .windows-store {
    display: none;
  }
  .container .hand-image {
    display: none;
  }
  .container .service {
    text-align: center;
    float: none;
    font-size: 12px;
    line-height: 1.83;
  }
}
