// Color constants begin
@COLORS_MAIN_BG: rgb(255, 255, 255);
@COLORS_MAIN_CONTAINER_BORDER: hsl(0, 2%, 58%);
@COLORS_TEXT_DEFAULT: rgb(36, 53, 69);
@COLORS_ERROR_MESSAGE_TEXT: rgb(239, 49, 36);
@COLORS_INPUT_BORDER_INACTIVE: rgb(153, 153, 153);
@COLORS_INPUT_BORDER_ACTIVE: rgba(36, 53, 69, 1);
@COLORS_SEND_BUTTON: rgb(239, 49, 36);
// Color constants end

//Font constants begin
@font-face {
    font-family: "Roboto-Bold";
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular.ttf');
}

@FONT_FAMILY_DEFAULT: "Roboto-Regular";
@FONT_FAMILY_LIGHT: "Roboto-Light";
@FONT_FAMILY_BOLD: "Roboto-Bold";
//Font constants begin

// additional classes begin
.center { margin: 0 auto; }
.clear { clear: both; }
.f-bottom { float: bottom; }
.f-left { float:left; }
.f-right { float:right; }
.visible { display: block; }
.hide { display: none; }
// additional classes end

// Main style begin
body {
    margin: 0;
    padding: 0;
    background-color: @COLORS_MAIN_BG;
    font-family: @FONT_FAMILY_DEFAULT;
    color: @COLORS_TEXT_DEFAULT;
    font-size: 14px;
    text-align: center;
    position:relative; 
}

input {
    .center;

    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid @COLORS_INPUT_BORDER_INACTIVE;
    transition: 0.3s;
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-family: @FONT_FAMILY_DEFAULT;  
    color: @COLORS_TEXT_DEFAULT;  
    display: block;
    

    &.card-number {
        position: absolute;
        bottom: 5px;        
        border-color: @COLORS_INPUT_BORDER_ACTIVE;
    }
    &:focus {
        border-bottom: 1px solid @COLORS_INPUT_BORDER_ACTIVE;
        box-shadow: 0 1px 0px @COLORS_INPUT_BORDER_ACTIVE;
    }

    &.date {
        width: 120px;
        margin-right: 20px;
        position: absolute;
        bottom: 5px;
    }

    &.cvc {
        width: 120px;
        position: absolute;
        bottom: 5px;
    }    

    &.amount {
        width: 256px;
        position: absolute;
        font-size: 24px;
        bottom: 6px;
        padding-bottom: 11px; 
    }

    &.amount::-webkit-outer-spin-button,
    &.amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &.sms-code {
        text-align: center;
        height: 48px;
        width: 343px;
        font-size: 40px;
        bottom: 5px;
        color:@COLORS_TEXT_DEFAULT;        
    }

    &.sms-code::-webkit-input-placeholder {
        opacity: 0.5;
     }
    
    &.sms-code::-webkit-outer-spin-button,
    &.sms-code::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@media only screen and (max-width: 1023px) {
    input {
        width: 342px;
    }
}

.container {
    .center;

    margin-top: 50px;
    border: 1px solid @COLORS_MAIN_CONTAINER_BORDER;
    box-shadow: 0 0 3px @COLORS_MAIN_CONTAINER_BORDER;
    padding-bottom: 20px;
    width: 1024px;    
    margin-bottom: 50px;
    overflow: hidden;    

    &.success {
        padding-bottom: 0px;
    }

    h1 {
        font-size: 30px;
        font-family: @FONT_FAMILY_BOLD;        
        margin-bottom: 16px;

        &.title {
            margin-bottom: 44px;
        }
    }

    .bank-logo {       
        .center;

        margin-top: 40px;
        margin-bottom: 32px;
        width: 218px;
        height: 64px;
        display: block;
    }

    .title {
        color: @COLORS_TEXT_DEFAULT;
        
        &.error-message {
            color: @COLORS_ERROR_MESSAGE_TEXT;
            font-size: 16px;
            line-height: 1.38;
            margin-bottom: 32px;
            display: none;
        }
    }    

    .card-container {        

        height: 236px;
        margin-bottom: 48px;   
        
        #arrow_img {
            width:20px; 
            height:40px;
            margin-top: 98px;
            opacity: 0.5;
        }
    }   
    
    h2 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .amount-input {
        .center;

        width: 256px;
        height: 68px;
        font-size: 24px;
        margin-bottom: 27px;
        position: relative;

        .currency {
            .f-right;
            
            border-radius: 50%;            
            border: 1px solid;
            font-size: 20px; 
            margin-top: 14px;
            margin-right: 7px;  
            width: 39px;
            height: 39px;     
            background: url("../images/icon_currency_rub.png") no-repeat;
            background-size: 12px 15px;
            background-position: center; 
            background-color: @COLORS_INPUT_BORDER_ACTIVE;
            color: @COLORS_MAIN_BG;  
        }
    }

    .comission {
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 20px;
    }

    .button {
        .center;

        width: 256px;
        height: 64px;
        opacity: 0.5;
        font-size: 18px;
        margin-bottom: 12px;
        border-radius: 4px;
        border-style: unset;
        display: block;

        &.active {
            background-color: @COLORS_SEND_BUTTON;
            color: rgb(255, 255, 255)
        }
    }

    .agreement {
        line-height: 1.57;        
        color: @COLORS_TEXT_DEFAULT;
        margin-bottom: 64px;
    }

    .additional-info { 
        .center;        

        width: 640px;
        font-size: 13px;
        text-align:left; 
        opacity: 0.5;
        margin-bottom: 8px;
    }

    .payment-systems {
        width: 630px;
        height: 56px;
    }

    .license {
        opacity: 0.5;
        font-size: 13px;
        line-height: 1.38;
    }

    // Confirmation page strat

    .logo {
        position:relative; 
        
        height: 40px;        
        margin-top: 40px;
        margin-bottom: 57px;
        
        .alfabank-logo {
            .f-left;

            width: 136px;
            height: 40px;
            margin-left: 256px;
            background-image: url("../images/bank-logo.png");
            background-size: cover;
        }

        .mastercard-logo {
            .f-right;

            width: 99px;
            height: 36px;
            margin-right: 250px;
            background-image: url("../images/mc_seccode.png");
            background-size: cover; 
        }
    }
    
    .check-correctness {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .info-confirmation {
        .center;

        width: 512px;
        height: 160px;
        background-color: rgba(230, 232, 234, 0.2);        
        margin-bottom: 23px;
        text-align: left;

        .info-confirmation-table {
            .center;
            
            margin-left: 103px;
            font-size: 16px;
            width: 322px;
            height: 130px;           
            opacity: 1;
            margin-top: 14px;
            position: absolute;

            th {
                font-weight: normal;
                opacity: 0.5;
                color: @COLORS_TEXT_DEFAULT;
            }
            
            td {

            }
        }
    }

    .password-message-info {
        .center;

        width: 512px;
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        margin-bottom: 72px;
        
        .bold {
            font-family: @FONT_FAMILY_BOLD;
        }
    }

    .sms-code-input {
        .center;

        width: 343px;
        height: 48px;   
        margin-bottom: 26px;
        font-family: @FONT_FAMILY_LIGHT;
    }

     .confirm-button {
            margin-bottom: 16px;
     }

    .request-code-again {
        font-size: 12px;
        color: @COLORS_TEXT_DEFAULT;        
        margin-bottom: 64px;        
        display: block;
    }

    .change-phone-number {
        .center;
        
        opacity: 0.5;        
        font-size: 16px;
        line-height: 1.38;   
        width: 550px;            
        margin-bottom: 64px;   
    }

    .navigation-block {
        .center;        
        
        width: 512px;
        height: 25px;
        font-size: 16px;                    
        margin-bottom: 65px;  

        .help-block {
            .f-left;

            width: 92px;
            height: 25px;

            .circle {                
                .f-left;

                border-radius: 50%;   
                width: 10px;
                height: 10px;
                padding: 4px;
                margin-top: 3px;
                border: 1px solid;
                font-size: 14px; 
                padding-bottom: 7px;
                padding-top: 0px;
            }

            .help {                
                .f-right;

                color: @COLORS_TEXT_DEFAULT;
                font-size: 16px;
                margin-top: 3px;
            }
        }

        .cancel-block {
            .f-right;
                   
            width: 177px;
            height: 25px;

            .cross {                
                .f-left;          
            }

            .cancel {      
                .f-right;
                         
                color: @COLORS_TEXT_DEFAULT;
                font-size: 16px;
                line-height: 1.38;
            }
        }
    }  
    // Confirmation page end

    // Success page start
    .alfabank-logo-success {
        width: 136px;
        height: 40px;
        background-image: url("../images/bank-logo.png");
        background-size: cover;
        margin-left: 45px;
        margin-top: 40px;
        margin-bottom: 30px; 
    }

    .background-layer {       
        .f-left;
        
        width: 410px;
        height: 492px;        
        margin-left: 16px;        
        margin-bottom: 240px;
        background: rgba(230, 232, 234, 0.2);
        display: inline-block;

        .check-successful {
            .f-left;

            width: 28px;
            height: 28px;
            background-color: rgb(85, 175, 41);
            font-size: 20px;
            border-radius: 50%;
            color:white;
            margin-top: 24px;
            margin-left: 32px;
            margin-right: 12px;
            display: inline-block;
        }

        .successful-transfer {
            .f-left;

            margin-top: 28px;
            font-size: 18px;
            font-family: @FONT_FAMILY_BOLD;
            margin-bottom: 26px;
            display: inline-block;
        }

        .transfer-table {
            
            text-align: left;
            margin-left: 30px;
            line-height: 2;
            width: 360px;
            margin-bottom: 22px;

            th {
                font-weight: normal;
                opacity: 0.5;
                color: @COLORS_TEXT_DEFAULT;
                margin-left: 12px;
            }
        }

        .print-check {
            .f-left;

            width: 200px;
            height: 44px;
            border-radius: 4px;
            font-size: 18px;
            color: @COLORS_TEXT_DEFAULT;        
            font-family: @FONT_FAMILY_DEFAULT;
            background: rgba(230, 232, 234, 0.2);
            border: solid 1px @COLORS_INPUT_BORDER_ACTIVE;
            margin-left: 32px;
            margin-bottom: 16px;
        }
    
        .download {
            .f-left;            

            width: 200px;
            height: 44px;
            border-radius: 4px;
            font-size: 18px;
            color: @COLORS_TEXT_DEFAULT;
            font-family: @FONT_FAMILY_DEFAULT;
            background: rgba(230, 232, 234, 0.2);
            border: solid 1px  @COLORS_INPUT_BORDER_ACTIVE;
            margin-left: 32px; 
            
            .pdf-logo { 
                .f-left;

                width: 19px;
                height: 22px;
                background-image: url(../images/PDF-logo.png);
                background-size: 100% 100%;
                margin-left: 9px;
                display: inline-block;
            }
        }
    }    

    .instantly {
        .f-right;

        font-size: 30px;
        font-family: @FONT_FAMILY_BOLD;
        text-align: left;
        margin-right: 88px;
        margin-bottom: 14px;
        display: inline-block;        
    }

    .app-buttons-container {

        .app-store {
            width: 156px;
            height: 44px;
            border-radius: 4px;
            font-size: 18px;
            color: @COLORS_TEXT_DEFAULT;
            font-family: @FONT_FAMILY_DEFAULT;
            background: @COLORS_MAIN_BG;
            border: solid 1px  @COLORS_INPUT_BORDER_ACTIVE;
            margin-right: 7px; 
            padding-bottom: 5px;

            .apple-logo {
                width: 20px;
                height: 24px;
                background-image: url(../images/Apple-logo.png);
                background-size: 100% 100%;
                margin-right: 23px;
                display: inline-block;
            }

            .app-button-text {

            }
        }

        .goodle-play {
            width: 164px;
            height: 44px;
            border-radius: 4px;
            font-size: 18px;
            color: @COLORS_TEXT_DEFAULT;
            font-family: @FONT_FAMILY_DEFAULT;
            background: @COLORS_MAIN_BG;
            border: solid 1px  @COLORS_INPUT_BORDER_ACTIVE;            
            margin-right: 7px; 
            padding-bottom: 5px;

            .google-logo {
                width: 21.4px;
                height: 24px;
                background-image: url(../images/Google-play-logo.png);
                background-size: 100% 100%;
                margin-right: 14px;
                display: inline-block;
            }
        }

        .windows-store {
            width: 196px;
            height: 44px;
            border-radius: 4px;
            font-size: 18px;
            color: @COLORS_TEXT_DEFAULT;
            font-family: @FONT_FAMILY_DEFAULT;
            background: @COLORS_MAIN_BG;
            border: solid 1px  @COLORS_INPUT_BORDER_ACTIVE;
            padding-bottom: 5px;

            .windows-logo {
                width: 24px;
                height: 24px;
                background-image: url(../images/Windows-logo.png);
                background-size: 100% 100%;
                margin-right: 20px;
                display: inline-block;
            }
        }
    }

    .hand-image {
        .f-right;

        width: 408px;
        height: 622px;
        background-image: url(../images/hand.png);
        background-size: 100% 100%;
        margin-right: 132px;
        margin-top: 40px;
    }

    .service {
        .f-left;

        opacity: 0.5;
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        margin-left: 16px;
        
    }
    //Success page end
}
@media only screen and (min-width: 1024px) {    

}
// Main style end

@media only screen and (max-width: 1023px) {
    .container {
        width: 375px;

        // Card page start
        .bank-logo {    
            margin-top: 32px;
            margin-bottom: 23px;
            width: 150px;
            height: 44px;
        }

        h1 {
            font-size: 22px;
            &.title {
                margin-bottom: 29px;
            }
        }

        .card-container {        
            height: 556px;
            margin-bottom: 32px;   
    
            #arrow_img {
                transform: rotate(90deg);
                margin-top: 260px;
                position: absolute;
            }
        }
        
        .agreement {
            margin-bottom: 110px;
        }
        .additional-info { 
            .center;        
    
            width: 354px;
            font-size: 13px;
            line-height: 1.38;
            text-align:left; 
            opacity: 0.5;
            margin-bottom: 8px;
        }
    
        .payment-systems {
            width: 376px;
            height: 38px;
        }
    
        .license {
            opacity: 0.5;
            font-size: 13px;
            line-height: 1.38;
        }
        // Card page end

        // Confirmation page start
        .logo {      
            margin-top: 32px;
            margin-bottom: 32px;
            
            .alfabank-logo {
                margin-left: 16px;
            }
    
            .mastercard-logo {
                margin-right: 10px;
            }
        }

        .info-confirmation {
            .center;
    
            width: 376px;     
            margin-bottom: 17px;
    
            .info-confirmation-table {                
                margin-left: 34px;
                margin-top: 17px;
            }
        }

        .password-message-info {
            width: 280px;
        }

        .change-phone-number {
            width: 320px; 
        }
    
        .navigation-block {
            width: 376px;  
    
            .help-block {
                margin-left: 16px;
            }
    
            .cancel-block {
                margin-right: 18px;
            }
        }
        // Confirmation page end

        // Success page start
        .alfabank-logo-success {
            margin-left: 16px;
        }
        .background-layer {
               
            margin-left: 0px;  
            width: 376px;
            height: 484px;
            margin-bottom: 40px;

            .check-successful {    
                margin-left: 12px;
            }
    
            .transfer-table {
                margin-left: 9px;
            }
    
            .print-check {
                margin-left: 12px;
            }
        
            .download {
                margin-left: 12px;
            }
        }    
    
        .instantly {
            
            float: none;
            font-size: 22px;
            text-align: center;
            width: 351px;
            margin-bottom: 20px;
            margin-left: 13px;    
        }
    
        .app-buttons-container {
            margin-bottom: 64px;

            .app-store {
                margin-right: 0px;
            }
    
            .goodle-play {
                display: none;
            }
    
            .windows-store {
                display: none;
            }
        }
    
        .hand-image {
            display: none;
        }
    
        .service {
            text-align: center;
            float: none;
            font-size: 12px;
            line-height: 1.83;
        }
        // Success page end
    }
}