.center {
  margin: 0 auto;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.visible {
  display: block;
}
.hide {
  display: none;
}
.control.card {
  width: 364px;
  height: 236px;
  background: linear-gradient(to top right, #e6e8ea, #e6e8ea);
  border-radius: 8px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.24);
}
.control.card.sberbank {
  background: linear-gradient(to top right, #4b962b, #254b15);
}
.control.card.raiffeisen {
  background: linear-gradient(to top right, #f8f300, #979400);
}
.control.card.m-left {
  margin-left: 98px;
}
.control.card.m-right {
  margin-right: 98px;
}
.control.card.dark {
  color: white;
  border-color: white;
}
.control.card.dark input[type=text],
.control.card.dark input[type=password] {
  color: white;
  border-color: white;
}
.control.card.dark input[type=text]:focus,
.control.card.dark input[type=password]:focus {
  border-color: white;
  box-shadow: 0 1px 0px white;
}
.control.card.dark input[type=text].date,
.control.card.dark input[type=password].date {
  color: white;
  border-color: white;
}
.control.card.dark input[type=text].cvc,
.control.card.dark input[type=password].cvc {
  color: white;
  border-color: white;
}
.control.card.dark input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.control.card.light {
  color: #243545;
}
.control.card .payment-system-container {
  float: right;
  width: 215px;
  height: 36px;
  margin-top: 12px;
  margin-bottom: 18px;
  margin-right: 30px;
}
.control.card .payment-system-container .payment-system {
  float: right;
  display: block;
  position: relative;
  height: 32px;
  width: 42px;
  margin: 3px;
  font-size: 10px;
}
.control.card .payment-system-container .Visa {
  background-image: url("../images/logo/Visa_logo.png");
  background-size: 100% 100%;
  height: 16px;
  width: 50px;
  margin-top: 10px;
}
.control.card .payment-system-container .Visa.dark {
  background-image: url("../images/logo/Visa_logo-white.svg");
}
.control.card .payment-system-container .MasterCard {
  background-image: url("../images/logo/MC__logo__dark-text.png");
  background-size: 100% 100%;
}
.control.card .payment-system-container .MasterCard.dark {
  background-image: url("../images/logo/MC__logo__white-text.svg");
}
.control.card .payment-system-container .Maestro {
  background-image: url("../images/logo/ms_vrt_pos.png");
  background-size: 100% 100%;
}
.control.card .payment-system-container .Maestro.dark {
  background-image: url("../images/logo/ms_vrt_rev.svg");
}
.control.card .payment-system-container .MIR {
  background-image: url("../images/logo/mir_logo_latin.png");
  background-size: 100% 100%;
  height: 16px;
  width: 45px;
  margin-top: 10px;
}
.control.card .payment-system-container .MIR.dark {
  background-image: url("../images/logo/mir_logo_latin_white.svg");
}
.control.card .card-bank-logo {
  float: left;
  width: 82px;
  height: 24px;
  margin-top: 18px;
  margin-left: 32px;
  margin-bottom: 10px;
}
.control.card .input-container {
  height: 164px;
}
.control.card .input-container .info {
  height: 19px;
  margin-top: 8px;
  position: absolute;
  font-size: 16px;
  opacity: 0.5;
}
.control.card .input-container .card-number-input {
  margin: 0 auto;
  width: 300px;
  height: 80px;
  position: relative;
  margin-top: 52px;
  margin-bottom: 4px;
}
.control.card .input-container .cvc-input {
  float: right;
  width: 120px;
  height: 80px;
  position: relative;
  margin-right: 32px;
}
.control.card .input-container .date-input {
  float: left;
  width: 120px;
  height: 80px;
  position: relative;
  margin-left: 32px;
}
.control.card .focus-box-shadow {
  margin-top: -50px;
  width: 364px;
  height: 70px;
  box-shadow: 0px 35px 36px -31px rgba(0, 0, 0, 0.39);
}
@media only screen and (max-width: 1023px) {
  .control.card {
    width: 375px;
  }
  .control.card.m-left {
    margin-left: 0px;
  }
  .control.card.m-right {
    margin-right: 0px;
    margin-top: 84px;
  }
  .control.card .input-container .card-number-input {
    width: 343px;
  }
  .control.card .input-container .cvc-input {
    margin-right: 16px;
  }
  .control.card .input-container .date-input {
    margin-left: 16px;
  }
}
