// Color constants begin
@COLORS_GRADIENT_LIGHT_DEFAULT: rgb(230, 232, 234);
@COLORS_GRADIENT_DARK_DEFAULT: rgb(230, 232, 234);

@COLORS_GRADIENT_LIGHT_SBERBANK: rgb(75, 150, 43);
@COLORS_GRADIENT_DARK_SBERBANK: rgb(37,75,21);

@COLORS_GRADIENT_LIGHT_ALFABANK: rgb(238,48,35);
@COLORS_GRADIENT_DARK_ALFABANK: rgb(145,29,21);

@COLORS_GRADIENT_LIGHT_RAIFFEISEN: rgb(248,243,0);
@COLORS_GRADIENT_DARK_RAIFFEISEN: rgb(151,148,0);

@COLORS_TEXT_DEFAULT: rgb(36, 53, 69);
// Color constants end

// additional classes begin
.center { margin: 0 auto; }
.f-left { float: left; }
.f-right { float: right; }
.visible { display: block; }
.hide { display: none; }
// additional classes end

// Main style begin
.control {
    &.card {
        width: 364px;
        height: 236px;
        background: linear-gradient(to top right, @COLORS_GRADIENT_LIGHT_DEFAULT, @COLORS_GRADIENT_DARK_DEFAULT);        
        border-radius: 8px;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.24);

        &.sberbank {
            background: linear-gradient(to top right, @COLORS_GRADIENT_LIGHT_SBERBANK, @COLORS_GRADIENT_DARK_SBERBANK);   
        }

        &.raiffeisen {
            background: linear-gradient(to top right, @COLORS_GRADIENT_LIGHT_RAIFFEISEN, @COLORS_GRADIENT_DARK_RAIFFEISEN);   
        }

        &.m-left {
            margin-left: 98px;
        }

        &.m-right {
            margin-right: 98px;            
        }      

        &.dark {
            color: white;
            border-color: white;

            input[type=text], input[type=password] {
                 color: white;
                border-color: white;

                &:focus {                    
                    border-color: white;
                    box-shadow: 0 1px 0px white;
                    
                    
                }

                &.date {
                    color: white;
                    border-color: white;
                }

                &.cvc {
                    color: white;
                    border-color: white;
                } 
            }

            input::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.5);;
            }
        }

        &.light {
            color: @COLORS_TEXT_DEFAULT;
        }
        .payment-system-container {
            .f-right;

            width: 215px;
            height: 36px;
            margin-top: 12px;
            margin-bottom: 18px;
            margin-right: 30px;

            .payment-system {
                .f-right;
    
                display: block;
                position: relative;
                height: 32px;
                width: 42px;
                margin: 3px;
                font-size: 10px;
            }

            .Visa {
                background-image: url("../images/logo/Visa_logo.png");      
                background-size: 100% 100%;
                height: 16px;
                width: 50px;
                margin-top: 10px;
                
                &.dark {
                    background-image: url("../images/logo/Visa_logo-white.svg");    
                }
            }

            .MasterCard {
                background-image: url("../images/logo/MC__logo__dark-text.png");    
                background-size: 100% 100%;                

                &.dark {
                    background-image: url("../images/logo/MC__logo__white-text.svg"); 
                }
            }

            .Maestro {
                background-image: url("../images/logo/ms_vrt_pos.png");                    
                background-size: 100% 100%;

                &.dark {
                    background-image: url("../images/logo/ms_vrt_rev.svg"); 
                }
            }

            .MIR {
                background-image: url("../images/logo/mir_logo_latin.png");        
                background-size: 100% 100%;
                height: 16px;
                width: 45px;
                margin-top: 10px;                

                &.dark {
                    background-image: url("../images/logo/mir_logo_latin_white.svg"); 
                }
            }
        }       

        .card-bank-logo {
            .f-left;

            width: 82px;
            height: 24px;
            margin-top: 18px;
            margin-left: 32px;
            margin-bottom: 10px;
        }

        .input-container {
            height: 164px;

            .info {
                height: 19px;
                margin-top: 8px;                   
                position: absolute;
                font-size: 16px;
                opacity: 0.5;
            }

            .card-number-input {
                .center;

                width: 300px;
                height: 80px;
                position:relative;                
                margin-top: 52px;
                margin-bottom: 4px;                
            }
            
            .cvc-input {
                .f-right;

                width: 120px;
                height: 80px;
                position:relative;  
                margin-right: 32px;
            }

            .date-input {
                .f-left;                

                width: 120px;
                height: 80px;
                position:relative;                  
                margin-left: 32px;
            }
        }

        .focus-box-shadow {
            margin-top: -50px;
            width: 364px;
            height: 70px;
            box-shadow: 0px 35px 36px -31px rgba(0, 0, 0, 0.39);
        }
    }
}

@media only screen and (max-width: 1023px) {
    .control {
        &.card {
            width: 375px;

            &.m-left {
                margin-left: 0px;
            }
    
            &.m-right {
                margin-right: 0px;       
                margin-top: 84px;     
            }
            
            .input-container {
    
                .card-number-input {
    
                    width: 343px;              
                }
                
                .cvc-input {
                    margin-right: 16px;
                }
    
                .date-input {                
                    margin-left: 16px;
                }
            }
        }        
    }
}
// Main style end